@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #618264;
    --colo-active: #79AC78;
    --color-text: #443434;
    --color-title: #000E01;
    --font-IBM: 'IBM Plex Sans Hebrew', sans-serif;
    --font-open_sans: 'Open Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --padding-header: 3.3rem 6.4rem;
    --padding-footer: 0 46rem;
}

* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    border: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    border: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
    overflow-y: none;
}

::-webkit-scrollbar {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6rem;
    padding: var(--padding-header);
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50rem;
    height: 100%;
    list-style: none;
}

.navbar ul a {
    text-decoration: none;
    color: var(--color-title);
    font-size: 1.6rem;
    font-family: var(--font-inter);
    text-transform: capitalize;
}

.navbar .active {
    color: var(--colo-active);
    border-bottom: .2rem solid var(--colo-active);
}

.btn button {
    text-transform: capitalize;
    font-weight: 700;
    font-family: var(--font-inter);
    color: #fff;
    background: var(--primary-color);
    padding: 0.9rem 2rem;
}

.francis {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50rem;
    padding: var(--padding-header);
}

.francis_actu {
    width: 55%;
    height: 100%;
    background: linear-gradient(to top, #00000068, rgba(0, 0, 0, 0)), url(../img/Francis-Ngannou-domine-Ciryl-Gane-au-sol-et-remporte-le-combat-par-decision-unanime\ 1.svg) center top / cover; 
    display: flex;
    align-items: end;
    text-decoration: none;
    border-radius: 2rem;
    padding: 4rem;
}

.francis_actu .francis_actu_text {
    padding-left: 2rem;
    border-left: 1rem solid var(--primary-color);
}

.francis_actu .francis_actu_text h2{
    font-family: var(--font-IBM);
    font-weight: 700;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1rem;
}

.francis_actu .francis_actu_text span {
    font-family: var(--font-IBM);
    font-weight: 400;
    font-size: 1.4em;
    color: #fff;
}

.francis_article {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.francis_article h2 {
    font-family: var(--font-IBM);
    font-weight: 600;
    font-size: 2rem;
    border-left: 1rem solid var(--primary-color);
    padding: .9rem;
}

.francis_article a {
    text-decoration: none;
}

.francis_articlebox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 11rem;
}

.francis_article_one .img {
    background: url(../img/annie-spratt-cVEOh_JJmEE-unsplash\ 1.svg) center top / cover;
    border-radius: 1rem;
    width: 50%;
    height: 100%;
}

.francis_article_two .img {
    background: url(../img/images\ \(5\)\ 1.svg) center top / cover;
    border-radius: 1rem;
    width: 50%;
    height: 100%;
}

.francis_article_tree .img {
    background: url(../img/téléchargement\ \(3\)\ 1.svg) center top / cover;
    border-radius: 1rem;
    width: 50%;
    height: 100%;
}

.francis_articlebox .text {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text);
}

.francis_articlebox .text h3 {
    font-size: 1.6rem;
    font-weight: 600;
    font-family: var(--font-IBM);
    line-height: 1.3;   
}

.francis_articlebox .text span {
    font-family: var(--font-open_sans);
    font-weight: 400;
    font-size: 1.1rem;
}

.other-article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-header);

}

.other-article a{
    text-decoration: none;
    color: var(--color-text);
}

.other-article_one{
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.other-article_one img{
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.other-article_one .text span{
    font-size: 1.2rem;
    color: var(--colo-active);
    font-weight: 400;
    font-family: var(--font-inter);
}

.other-article_one h3{
    font-size: 2rem;
    margin: 0;
    margin-top: .8rem;
    font-family: var(--font-IBM);
    font-weight: 600;
}

.actualites{
    width: 100%;
    height: 66rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-header);
}

.actualites h2{
    font-size: 4rem;
    font-family: var(--font-IBM);
    font-weight: 600;
    margin: 0;
}

.actualites img{
    width: 80%;
    border-radius: 2rem;
}

.matin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--padding-header);
    width: 100%;
    height: 45rem;
}

.matin h2 {
    font-size: 3.5rem;
    font-family: var(--font-IBM);
    font-weight: 600;
    text-align: center;
}

.matin_emission{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}

.matin_emission .img {
    width: 45%;
    height: 100%;
    background: url(../img/Rectangle\ 22.svg) center top / cover;
    border-radius: 2rem;
}

.matin_emission .text {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.matin_emission .text h3 {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-family: var(--font-IBM);
    font-weight: 600;
}

.matin_emission .text p {
    color: #000E01;
    font-family: var(--font-open_sans);
    font-weight: 400;
    font-size: 1.6rem;
    width: 73%;
}

.matin_emission .text span {
    color: #000E01;
    font-family: var(--font-open_sans);
    font-weight: 400;
    font-size: 1.6rem;
}

.matin_emission .link {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.matin_emission .link a {
    text-decoration: none;
}

.link_box {
    height: 3.5rem;
    width: 3.5rem;
    background: var(--colo-active);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
}

.bx{
    color: #fff;
}

.face {
    border-radius: 50%;
}

.twitter{
    background: transparent;
}

.bxl-twitter {
    color: var(--colo-active);
}


.other_two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-header);

}

.other_two a{
    text-decoration: none;
    color: var(--color-text);
}

.other_two .other-article_one{
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 40rem;
}

.box-o {
    border: .2rem solid #d9d9d9;
    background: url(../img/min_nous_chez_vous1\ 1.svg) center center no-repeat;
    width: 100%;
    height: 70%;
}

.other_two .other-article_one img{
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.other_two .other-article_one .text span{
    font-size: 1.2rem;
    color: var(--colo-active);
    font-weight: 400;
    font-family: var(--font-inter);
}

.other_two .other-article_one h3{
    font-size: 2rem;
    margin: 0;
    margin-top: .8rem;
    font-family: var(--font-IBM);
    font-weight: 600;
}


.comment{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40rem;
    padding: var(--padding-header);
}

.comment .text {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment .text h3 {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-family: var(--font-IBM);
    font-weight: 600;
}

.comment .text p {
    color: #000E01;
    font-family: var(--font-open_sans);
    font-weight: 400;
    font-size: 1.6rem;
    width: 73%;
}

.comment .text span {
    color: #000E01;
    font-family: var(--font-open_sans);
    font-weight: 400;
    font-size: 1.6rem;
}

.comment .link {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.comment .link a {
    text-decoration: none;
}

.comment .img {
    width: 45%;
    height: 100%;
    background: url(../img/Rectangle\ 23.svg) center top / cover;
    border-radius: 2rem;
}

.public{
    padding-left: 3.3rem 0 3.3rem 6.4rem;
    display: flex;
    width: 100%;
}


footer {
    height: 35rem;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


footer .link {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

footer a {
    text-decoration: none;
}

footer .link_box {
    background: #fff;
}

footer .bx {
    color: var(--colo-active);
}


